.reg{
    margin: 20px auto;
    height: 30px;
    width: 500px;
    min-width: 300px;
    background-color: #097969;
    border-radius: 3px;
    color: white;
}
.reg .signup{
    /* background-color: lightblue; */
    width: 49%;
    height: inherit;
    text-align: center;
    display: inline-block;
    border-right:2px solid white ;
}
.reg .login{
    display: inline-block;
    width: 49%;
    text-align: center;
    height: inherit;
    border-left: 2px solid white ;
}